:root {
    --cyan: hsl(179, 62%, 43%);
    --yellow-bright: hsl(71, 73%, 54%);
    --gray-light: hsl(204, 43%, 93%);
    --blue-grayish: hsl(218, 22%, 67%);
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: var(--gray-light);
}

body {
    display: grid;
}

.f-body {
    font-size: 16px;
    line-height: 1.75em;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.f-cyan {
    color: var(--cyan);
}

.f-yellow {
    color: var(--yellow-bright);
}

.f-blue-gray {
    color: var(--blue-grayish);
}

.f-gray-light {
    color: var(--gray-light)
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
}

section > div {
    margin: 1em 0;
}

section > div:nth-child(1) {
    font-size: 1.25em;
}

.pitch {
    background-color: white;
}

.promo {
    background-color: rgba(45, 169, 180, 1);
    color: white;
}

.price {
    font-size: 32px;
    font-weight: 800;
    margin-right: 0.5em;
}

.price + span {
    color: rgba(185, 242, 244, 0.75);
}

.promo button {
    background-color: var(--yellow-bright);
    color: white;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 1em;
    border-radius: 6px;
    border: none;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.details {
    background-color: var(--cyan);
    color: white;
}

.details ul {
    padding-left: 0;
}

.details li {
    list-style-type: none;
    margin-top: 0.25em;
    color: rgba(185, 242, 244, 0.75);
}

footer {
    width: 100%;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 680px) {
    main {
        min-height: 90vh;
    }

    .card {
        max-width: 600px;
    }

    .promo, .details {
        max-width: 300px;
    }
}


